<h1>Homepage</h1>
<% for (var i =0; i < locals.workouts.length;  i++ ) { %>
<br/>  <%= locals.workouts[i].type %> 
<%#  will output the numbers 1-10 %>
<% } %>

<table class="styled-table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Exercise</th>
            <th>Weight (kg)</th>
            <th>Reps</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Workout Type</td>
        </tr>
        <tr class="active-row">
            <td>Melissa</td>
            <td>5150</td>
        </tr>
        <!-- and so on... -->
    </tbody>
</table>