<h2>Chest & Back</h2>
<table class="styled-table">
        <thead>
          <tr>
            <th>Goal</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Total Workouts</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Total Exercise Done</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>